<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MiTema"
        tools:targetApi="31">
        <activity
            android:name=".activitys.VideogameActivity"
            android:exported="false" />
        <activity
            android:name=".activitys.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".activitys.SearchResultActivity"
            android:exported="false"
            android:parentActivityName=".activitys.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activitys.MainActivity" />
        </activity>
        <activity
            android:name=".activitys.NotificationsActivity"
            android:exported="false"
            android:parentActivityName=".activitys.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activitys.MainActivity" />
        </activity>
        <activity
            android:name=".activitys.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.default_searchable"
                android:value=".SearchResultActivity" />
        </activity>
    </application>

</manifest>